<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="container">
        <h1>
            Debouncing 
        </h1>
    <input id="search" class="search" type="text" placeholder="Search Default">
    <input id="debounce" class="search" type="text" placeholder="Search Debounce">
    <ul id="list" class="list">
    </ul>
    </div>
</body>
</html>